<div class="row">
  <main class="col-md-12">

    <!-- Start your code here -->
    <br />
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my website,</h1>
      <p class="lead">I will be demonstrating HTML5 principles and techniques,
        Routing in Express</p>
      <hr class="my-4" />
      <p>This site consists of 3 static views (Home, About, HTML Demo) as well
        as 5 routes that supply data , including:
        <a href="/students" target="_blank">All Students</a>,
        <a href="/students?course=2" target="_blank"> Students by Course</a>,
        <a href="/student/5" target="_blank">A Single Student By Student Number</a>,
        <a href="/courses" target="_blank">All Courses</a>
      </p>

    </div>
    <h3>Introduce</h3>
    <p>This site utilizes HTML5: a markup language used for structuring and
      presenting content on the World Wide Web</p>
    <!-- End your code here  -->

  </main>
</div>