<div class="row">
  <main class="col-md-12">

    <!-- Start your code here -->
    <section>
      <br />
      <h2>Tables</h2>
      <table class="table table-bordered">
        <caption style="caption-side:top;">List of Employees</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mark.otto@example.com</td>
            <td rowspan="2" style="vertical-align: middle;">Sale</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jacob.thornton@example.com</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>larry.bird@example.com</td>
            <td>IT</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Company Table</td>
          </tr>
        </tfoot>
      </table>
      <p>HTML
        <code>Tables</code>
        allow web developers to arrange data into rows and columns.</p>
      <hr />
    </section>
    <br />
    <section>
      <h2>Lists</h2>
      <ul>
        <li>Soda</li>
        <li>Tea</li>
        <li>Coffee
          <ol>
            <li>Small</li>
            <li>Meduim</li>
            <li>Large</li>
          </ol>
        </li>
        <li>Juice</li>
        <li>Milk</li>
      </ul>
      <br />
      <p>HTML
        <code>Lists</code>
        allow web developers to group a set of related items in lists.</p>
      <hr />
    </section>
    <br />
    <section>
      <h2>Images</h2>
      <div class="text-center">
        <img
          width="250px"
          height="200px"
          src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
          class="rounded"
          alt="Snowboarder in halfpipe"
        />
        <img
          width="250px"
          height="200px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Gaurav_taking_a_picture_of_Seraphimblade_taking_a_picture.jpg/640px-Gaurav_taking_a_picture_of_Seraphimblade_taking_a_picture.jpg"
          class="rounded"
          alt="Snowboarder in halfpipe"
        />
        <img
          width="250px"
          height="200px"
          src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Nemoto_Sayonara.jpg"
          class="rounded"
          alt="Snowboarder in halfpipe"
        />
        <img
          width="250px"
          height="200px"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Spacesuit_helmet_from_NASA_on_exhibit_at_Chemical_Heritage_Foundation_2014_DSCF0483.jpg/320px-Spacesuit_helmet_from_NASA_on_exhibit_at_Chemical_Heritage_Foundation_2014_DSCF0483.jpg"
          class="rounded"
          alt="Snowboarder in halfpipe"
        />
      </div>
      <br />
      <p>The HTML
        <code>img</code>
        tag is used to embed an image in a web page.</p>
      <hr />
    </section>
    <br />
    <section>
      <h2>Audio</h2>
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3"
          type="audio/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg"
          type="audio/mpeg"
        />
      </audio>
      <br />
      <p>The
        <code>audio</code>
        tag is used to embed sound content in a document, such as music or other
        audio streams. The
        <code>audio</code>
        tag contains one or more
        <code>source</code>
        tags with different audio sources. The browser will choose the first
        source it supports.</p>
      <hr />
    </section>
    <br />
    <section>
      <h2>Videos</h2>
      <video width="320" height="240" controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm"
          type="video/webm"
        />
      </video>
      <br />
      <p>The
        <code>controls</code>
        attribute adds video controls, like play, pause, and volume. It is a
        good idea to always include
        <code>width</code>
        and
        <code>height</code>
        attributes. If height and width are not set, the page might flicker
        while the video loads.
      </p>
    </section>
    <!-- End your code here  -->

  </main>
</div>